--fg: #D3C6AA;

--red:    #E67E80;
--yellow: #DBBC7F;
--green:  #A7C080;
--blue:   #7FBBB3;
--purple: #D699B6;
--aqua:   #83C092;
--orange: #E69875;

--red-dark:    #493B40;
--yellow-dark: #45443C;
--green-dark:  #3C4841;
--blue-dark:   #384B55;
--purple-dark: #463F48;
--visual-dark: #4C3743;

--grey-0: #7A8478;
--grey-1: #859289;
--grey-2: #9DA9A0;

--bg-dim: #1E2326;
--bg:     #272E33;
--bg-1:   #2E383C;
--bg-2:   #374145;
--bg-3:   #414B50;
--bg-4:   #495156;
--bg-5:   #4F5B58;
